:root {
    --main-background-color: #1a1a1a;
    --span-color: #02acbf;
    --text-color: #fafafa;
    --text-color-secondary: #bf3802;
    --font: Montserrat, sans-serif;
}

body {
    background-color: var(--main-background-color);
    color: var(--text-color);
    font-family: var(--font);
    font-weight: 300;
    margin: 0;
}

/*********************************** Header ***********************************/

header {
    height: 100vh;
    background-color: #845a4a;
    background-image: url("img/background-image.jpg");
    background-size: cover;
    background-blend-mode: multiply;

}

.header-name {
    color: var(--span-color);
    font-weight: 500;
}

.landing-page {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.view-work-link {
    margin-top: 1rem;
}

.down-arrow {
    height: 1rem;
    width: 1rem;
    margin-left: .5rem;
    margin-right: .25rem;
    color: var(--span-color);
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.view-work-link {
    text-decoration: none;
    color: var(--span-color);
    font-size: 1.5rem;
    padding: .3rem .6rem .3rem .9rem;

    border: .1rem solid var(--span-color);
    border-radius: .2rem;
}

.link-div {
    margin-top: .2rem;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.link-div a {
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.link-div:hover,
.link-div:focus {
    outline-color: var(--main-background-color);
    outline-offset: 15px;
  
    box-shadow: 0 0.4em 0.5em -0.5em white;
    transform: translateY(-.10em);
}

.link-div:hover a {
    color: var(--text-color);
    border-color: var(--text-color);
}

.heading__line-two {
    font-weight: 200;
}

.heading__line-three,
.heading__line-two {
    text-align: center;
}

.typed-out {
    color: var(--text-color-secondary);
    font-weight: 500;
    text-align: center;
}

/*********************************** Header ***********************************/


/*********************************** MAIN ***********************************/

.sticky-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    font-size: 1.5rem;
    height: 4rem;
    background-color: var(--span-color);
    box-shadow: 0px 0px 10px 1px black;
    /* border-top: 5px solid black;
    border-bottom: 5px solid black; */
    position: sticky;
    top: 0;
    z-index: 999;
}

.sticky-header a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.sticky-header a::after {
    display: flex;
    background-color: black;
    /* height: 2px; */
    width: 2px;
    content: "";
    transition: .3s ease-in;
    transform-origin: bottom left;
}

.sticky-header a:hover::after {
    width: 100%;
    height: 2px;
}

.about-section {
    height: 100px;
    background-image: url("img/floor-tile.png");
    background-color: #535353;
    background-size: repeat;
    background-blend-mode: multiply;
    text-align: center;
    padding-top: 4rem;
    font-size: 4rem;
    height: 1000px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.about-section h3 {
    margin: 0;
    font-family: var(--font);
    font-weight: 800;
    color: black;
}

.about-heading {
    position: relative;
    z-index: 1;
}

.about-heading::before {
    content: "";
    position: absolute;
    background-color: var(--span-color);
    height: 20px;
    width: 350px;
    top: 65px;
    left: 520px;
    transform: skew(-12deg);
    z-index: -1;
}

.info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80%;
    gap: 4rem;
}

.portrait img {
    max-height: 400px;
    width: auto;
}

.portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    border: 5px solid black;
    /* height: 600px;
    width: 400px; */
    /* padding-top: 2rem; */
    border-radius: 100%;
    overflow: hidden;
    background-color: rgb(250, 88, 88);
}

.portrait-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait-nametag {
    position: absolute;
    overflow: visible;
    margin: 0 auto;
    bottom: -1rem;
    border: 3px solid black;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0);
    padding: .3rem 1rem;
    color: white;
    font-weight: 300;
}

.about__info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2rem;
    /* border: 2px solid white; */
    height: 600px;
    width: 400px;
    border-radius: 1rem;
}

.about__info-header {
    margin: 0;
    text-align: left;
    display: inline-block;
    font-size: 2.8rem;
    font-weight: bold;
    color: black;
}

.info-spans {
    color: var(--span-color);
}

.about__info-text {
    font-size: 1.3rem;
    text-align: left;
    color: black;
    font-weight: 400;
}

.about-skills {
    /* border: 2px solid black; */
    min-height: 20%;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 1rem;
    gap: 2rem;
}

.icon-wrapper {
    height: auto;
    display: flex;
    align-items: center;
    animation: 2s icon-wrapper;
    /* background-color: white;
    border-radius: 100%; */
}

@keyframes icon-wrapper {
    from {
        margin-bottom: -400px;
    }
    to {
        margin-left: 0;
    }
}

.icon {
    height: 100px;
}

.contact-section {
    height: 100px;
}

/********************************* Projects *********************************/

.project-section {
    min-height: 100px;
    background-image: url("img/background-image.jpg");
    background-color: #845a4a;
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
    padding-top: 4rem;
    font-size: 4rem;
    height: 1000px;
    display: flex;
    text-align: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px 1px black;
}

.project-heading {
    position: relative;
    z-index: 1;
}

.project-heading::before {
    content: "";
    position: absolute;
    background-color: var(--span-color);
    height: 20px;
    width: 350px;
    top: 65px;
    left: 520px;
    transform: skew(-12deg);
    z-index: -1;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 3rem;
}

.grid-container {
    min-height: 350px;
    width: 550px;
    /* border: 3px solid white;
    border-radius: 2rem;
    background-color: rgb(20, 20, 20); */
    display: flex;
    flex-direction: column;
    font-family: 'Inconsolata', monospace;
    align-items: center;
}

.grid__project-image {
    background-image: url(img/tempImage1.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgb(56, 56, 56);
    
    border: 3px solid white;
    border-radius: 1.5rem;
    margin: 1rem;
    min-width: 90%;
    min-height: 200px;
    position: relative;
}

.image2 {
    background-image: url(img/tempImage2.jpg);
}

.grid__project-name {
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2.5rem;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-wrapper p {
    margin: 0;
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem;
}

.bottom-content-wrapper {
    display: flex;
}

.bottom-content-wrapper a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--span-color);
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.bottom-content-wrapper a:hover {
    opacity: .7;
}

/*********************************** MAIN ***********************************/